.slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 33.33%; /* Equal width for desktop view */
    max-width: 33.33%;
  }
  
  .slide img {
    width: 100%;
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .slide {
      flex: 0 0 100%; /* Full width for mobile view */
      max-width: 100%;
    }
  }
  